.contacts h2 {
  margin-bottom: 73px;
}

.contacts__items {
  display: flex;
  column-gap: 104px;
}

.contacts__item {
  position: relative;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
  letter-spacing: -1px;
}

.contacts__mail::before,
.contacts__phone::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -5px;
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__phone::before {
  background-image: url(../resurces/ic_outline-phone-iphone.png);
}

.contacts__mail::before {
  background-image: url(../resurces/mail-outline-rounded.png);

}


.contacts__item:hover {
  opacity: 0.5;
  border-bottom: 1px solid #000;
}


@media (max-width: 1199px) {
  .contacts__item {
    font-size: 45px;
  }

  .contacts__items {
    column-gap: 76px;
  }

  .contacts__phone::before {
    top: -50px;
  }

  .contacts__mail::before {
    top: -50px;
  }

}

@media (max-width: 767px) {
  .contacts h2 {
    margin-bottom: 58px;
  }

  .contacts__items {
    display: flex;
    flex-direction: column;
    row-gap: 59px;
  }

  .contacts__item {
    font-size: 34px;
    line-height: 46px;
  }

  .contacts__phone::before,
  .contacts__mail::before {
    width: 18px;
    height: 18px;
    top: -40px;
  }

}