.acquaintance__title {
  margin-bottom: 30px;
  width: 956px;
  height: 120px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
}

.acquaintance__image {
  position: relative;
  background-image: url(../resurces/Rectangle\ 1.png);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.acquaintance__description {
  position: absolute;
  width: 430px;
  height: 83px;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

@media (max-width: 1199px) {

  .acquaintance__title {
    font-size: 50px;
    width: 820px;
  }

  .acquaintance__image {
    height: 400px;
    width: 100%;
  }

  .acquaintance__description {
    bottom: 30px;
  }

}

@media (max-width: 767px) {

  .acquaintance__title {
    margin-bottom: 25px;
    width: 337px;
    height: 95px;
    font-size: 30px;
    line-height: 32px;
  }

  .acquaintance__image {
    height: 304px;
  }

  .acquaintance__description {
    left: 15px;
    bottom: 15px;
    width: 312px;
    height: 88px;
    font-size: 16px;
    line-height: 22px;
  }
}