.intro__title {
  margin-bottom: 30px;
  width: 956px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
}

.intro__image {
  position: relative;
  background-image: url(../resurces/Rectangle\ 1.png);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro__description {
  position: absolute;
  width: 430px;
  height: 83px;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

@media (max-width: 1199px) {

  .intro__title {
    width: 802px;
    font-size: 50px;
  }

  .intro__image {
    background-image: url(../resurces/interier_tablet.jpg);
    height: 400px;
  }

  .intro__image {
    height: 400px;
    width: 100%;
  }

  .intro__description {
    bottom: 30px;
  }

}

@media (max-width: 802px) {
  .intro__title {

    width: 100%;
  }
}

@media (max-width: 767px) {

  .intro__title {
    margin-bottom: 25px;
    font-size: 31px;
    line-height: 32px;
  }

  .intro__image {
    height: 304px;
    object-fit: cover;
  }

  .intro__description {
    left: 15px;
    bottom: 15px;
    width: 312px;
    height: 88px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 400px) {

  .intro__image {
    background-image: url(../resurces/interier_phone.jpg);
  }

}