@import "../styles/nav.css";
@import "../styles/intro.css";
@import "../styles/about.css";
@import "../styles/project.css";
@import "../styles/services.css";
@import "../styles/galery.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";
@import "../styles/reviews.css";

html {
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

header,
footer,
.wrapper {
  /* min-width: 1400px; */
  margin: 0 auto;
}


h1,
h2,
h3,
p,
a,
div {
  letter-spacing: -0.03em;
}

.container {
  width: 1150px;
  margin: 0 auto;

}

header {
  padding: 33px 0 70px;
}

footer {
  padding: 60px 0 30px;
  background-color: #121212;
}

section {
  margin-bottom: 150px;
}

.title {
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  text-transform: uppercase;
}

.heading-indent {
  margin-bottom: 30px;
}

@media (max-width: 1199px) {

  section {
    margin-bottom: 120px;
  }

  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media (max-width: 767px) {

  section {
    margin-bottom: 80px;
  }

  .container {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .title {
    font-size: 14px;
    line-height: 19px;
  }

  .heading-indent {
    margin-bottom: 20px;
  }

}